In [1]:
import pandas as pd 
import requests

In [4]:
current = requests.get("http://api.weatherapi.com/v1/current.json?key=4a1f9e155ac6494e98a15506222712&q=London&aqi=yes") 
df = pd.read_json(current.text)

In [5]:
df.head()

                               location current
name                             London     NaN
region   City of London, Greater London     NaN
country                  United Kingdom     NaN
lat                               51.52     NaN
lon                               -0.11     NaN

In [6]:
df.to_csv("test.csv")

,location,current
name,London,
region,"City of London, Greater London",
country,United Kingdom,
lat,51.52,
lon,-0.11,
tz_id,Europe/London,
localtime_epoch,1686339849,
localtime,2023-06-09 20:44,
last_updated_epoch,,1686339000
last_updated,,2023-06-09 20:30
temp_c,,24.0
temp_f,,75.2
is_day,,1
condition,,"{'text': 'Sunny', 'icon': '//cdn.weatherapi.com/weather/64x64/day/113.png', 'code': 1000}"
wind_mph,,13.6
wind_kph,,22.0
wind_degree,,90
wind_dir,,E
pressure_mb,,1012.0
pressure_in,,29.88
precip_mm,,0.0
test.csv,location,current
name,London,
region,"City of London, Greater London",
country,United Kingdom,
lat,51.52,
lon,-0.11,
tz_id,Europe/London,
localtime_epoch,1686339849,
localtime,2023-06-09 20:44,
last_updated_epoch,,1686339000
last_updated,,2023-06-09 20:30
temp_c,,24.0
temp_f,,75.2
is_day,,1
condition,,"{'text': 'Sunny', 'icon': '//cdn.weatherapi.com/weather/64x64/day/113.png', 'code': 1000}"
wind_mph,,13.6
wind_kph,,22.0
wind_degree,,90
wind_dir,,E
pressure_mb,,1012.0
pressure_in,,29.88
precip_mm,,0.0
precip_in,,0.0
: