In [5]:
import requests
import pandas as pd
import re

Returns a list of locations (also known as sites) for which
results are available for the daily and three-hourly forecast
data feeds. You can use this to find the ID of the site that
you are interested in.

In [6]:
import csv
import json
# Greenwich, Greater London ID = 351683

response_hourly = requests.get("http://datapoint.metoffice.gov.uk/public/data/val/wxfcs/all/json/351683?res=3hourly&key=0d75cc84-e06a-4632-8bd2-b1cf041e7b09") 


print ("code: {}".format(response_hourly.status_code))


#df = response_hourly.text



print (response_hourly.text)

file = open("3_hour_forecast.json", "w")
file.write(response_hourly.text)
file.close()


# I need to create a file to store this into

code: 200
{"SiteRep":{"Wx":{"Param":[{"name":"F","units":"C","$":"Feels Like Temperature"},{"name":"G","units":"mph","$":"Wind Gust"},{"name":"H","units":"%","$":"Screen Relative Humidity"},{"name":"T","units":"C","$":"Temperature"},{"name":"V","units":"","$":"Visibility"},{"name":"D","units":"compass","$":"Wind Direction"},{"name":"S","units":"mph","$":"Wind Speed"},{"name":"U","units":"","$":"Max UV Index"},{"name":"W","units":"","$":"Weather Type"},{"name":"Pp","units":"%","$":"Precipitation Probability"}]},"DV":{"dataDate":"2023-01-27T14:00:00Z","type":"Forecast","Location":{"i":"351683","lat":"51.4779","lon":"-0.01","name":"GREENWICH","country":"ENGLAND","continent":"EUROPE","elevation":"6.0","Period":[{"type":"Day","value":"2023-01-27Z","Rep":[{"D":"N","F":"3","G":"18","H":"80","Pp":"8","S":"7","T":"5","V":"GO","W":"7","U":"1","$":"540"},{"D":"NE","F":"4","G":"16","H":"72","Pp":"8","S":"9","T":"7","V":"VG","W":"8","U":"1","$":"720"},{"D":"NNE","F":"6","G":"13","H":"62","Pp":"8","S":"4","T":"7","V":"VG","W":"8","U":"1","$":"900"},{"D":"NNE","F":"4","G":"13","H":"71","Pp":"0","S":"7","T":"6","V":"GO","W":"2","U":"0","$":"1080"},{"D":"NE","F":"2","G":"11","H":"78","Pp":"0","S":"4","T":"4","V":"GO","W":"0","U":"0","$":"1260"}]},{"type":"Day","value":"2023-01-28Z","Rep":[{"D":"N","F":"0","G":"11","H":"85","Pp":"0","S":"4","T":"2","V":"GO","W":"0","U":"0","$":"0"},{"D":"NNW","F":"0","G":"9","H":"89","Pp":"1","S":"4","T":"1","V":"GO","W":"0","U":"0","$":"180"},{"D":"NW","F":"-1","G":"7","H":"91","Pp":"4","S":"2","T":"1","V":"MO","W":"7","U":"0","$":"360"},{"D":"WSW","F":"0","G":"7","H":"90","Pp":"4","S":"2","T":"2","V":"MO","W":"7","U":"1","$":"540"},{"D":"W","F":"3","G":"7","H":"78","Pp":"4","S":"4","T":"4","V":"MO","W":"7","U":"1","$":"720"},{"D":"W","F":"4","G":"7","H":"72","Pp":"4","S":"4","T":"6","V":"GO","W":"7","U":"1","$":"900"},{"D":"W","F":"4","G":"7","H":"81","Pp":"7","S":"2","T":"5","V":"GO","W":"8","U":"0","$":"1080"},{"D":"WSW","F":"3","G":"7","H":"84","Pp":"7","S":"4","T":"5","V":"GO","W":"8","U":"0","$":"1260"}]},{"type":"Day","value":"2023-01-29Z","Rep":[{"D":"WSW","F":"2","G":"9","H":"87","Pp":"7","S":"4","T":"4","V":"GO","W":"8","U":"0","$":"0"},{"D":"WSW","F":"2","G":"11","H":"89","Pp":"8","S":"4","T":"4","V":"GO","W":"8","U":"0","$":"180"},{"D":"WSW","F":"2","G":"13","H":"89","Pp":"9","S":"7","T":"4","V":"GO","W":"8","U":"0","$":"360"},{"D":"WSW","F":"2","G":"16","H":"88","Pp":"10","S":"9","T":"5","V":"GO","W":"8","U":"1","$":"540"},{"D":"WSW","F":"4","G":"18","H":"81","Pp":"10","S":"9","T":"7","V":"GO","W":"8","U":"1","$":"720"},{"D":"WSW","F":"5","G":"22","H":"78","Pp":"8","S":"11","T":"8","V":"VG","W":"7","U":"1","$":"900"},{"D":"WSW","F":"4","G":"20","H":"81","Pp":"8","S":"11","T":"7","V":"VG","W":"8","U":"0","$":"1080"},{"D":"WSW","F":"4","G":"22","H":"86","Pp":"8","S":"11","T":"7","V":"VG","W":"8","U":"0","$":"1260"}]},{"type":"Day","value":"2023-01-30Z","Rep":[{"D":"WSW","F":"4","G":"22","H":"90","Pp":"9","S":"11","T":"7","V":"VG","W":"8","U":"0","$":"0"},{"D":"W","F":"5","G":"20","H":"88","Pp":"10","S":"11","T":"8","V":"VG","W":"8","U":"0","$":"180"},{"D":"WNW","F":"4","G":"20","H":"82","Pp":"8","S":"9","T":"7","V":"VG","W":"8","U":"0","$":"360"},{"D":"WNW","F":"3","G":"20","H":"77","Pp":"9","S":"11","T":"6","V":"VG","W":"8","U":"1","$":"540"},{"D":"WNW","F":"5","G":"22","H":"68","Pp":"9","S":"11","T":"8","V":"VG","W":"8","U":"1","$":"720"},{"D":"WNW","F":"6","G":"18","H":"65","Pp":"6","S":"9","T":"8","V":"VG","W":"7","U":"1","$":"900"},{"D":"W","F":"4","G":"13","H":"74","Pp":"6","S":"7","T":"6","V":"VG","W":"7","U":"0","$":"1080"},{"D":"WSW","F":"2","G":"16","H":"81","Pp":"7","S":"7","T":"5","V":"VG","W":"7","U":"0","$":"1260"}]},{"type":"Day","value":"2023-01-31Z","Rep":[{"D":"WSW","F":"2","G":"18","H":"85","Pp":"2","S":"9","T":"5","V":"VG","W":"2","U":"0","$":"0"},{"D":"WSW","F":"2","G":"20","H":"86","Pp":"9","S":"11","T":"6","V":"VG","W":"8","U":"0","$":"180"},{"D":"WSW","F":"3","G":"22","H":"88","Pp":"7","S":"11","T":"7","V":"VG","W":"7","U":"0","$":"360"},{"D":"WSW","F":"5","G":"22","H":"87","Pp":"9","S":"11","T":"8","V":"VG","W":"8","U":"1","$":"540"},{"D":"W","F":"7","G":"25","H":"77","Pp":"2","S":"13","T":"10","V":"VG","W":"3","U":"1","$":"720"},{"D":"W","F":"7","G":"25","H":"70","Pp":"7","S":"13","T":"10","V":"VG","W":"7","U":"1","$":"900"},{"D":"W","F":"5","G":"22","H":"73","Pp":"6","S":"11","T":"8","V":"VG","W":"7","U":"0","$":"1080"},{"D":"W","F":"4","G":"22","H":"75","Pp":"5","S":"11","T":"7","V":"VG","W":"7","U":"0","$":"1260"}]}]}}}}

In [11]:
import json
import csv
import pandas as pd
with open('3_hour_forecast.json', "r") as json_file:
    jsondata = json.load(json_file)
    
 
data_file = open('forecast.csv', 'w', newline='')
csv_writer = csv.writer(data_file)
 
count = 0
for data in jsondata:
    if count == 0:
        header = jsondata[data].keys()
        csv_writer.writerow(header)
        count += 1
    csv_writer.writerow(jsondata[data].values())
 
data_file.close()

AttributeError: 'str' object has no attribute 'values'

In [ ]:
print (df.corr())

Empty DataFrame
Columns: []
Index: []

In [ ]:
df.columns

Index(['BWSurfacePressureChartList'], dtype='object')

In [ ]:
df.isna().sum()

BWSurfacePressureChartList    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, BWSurfacePressureChart to BWSurfacePressureChart
Data columns (total 1 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   BWSurfacePressureChartList  1 non-null      object
dtypes: object(1)
memory usage: 16.0+ bytes

In [ ]:
df.describe()

                               BWSurfacePressureChartList
count                                                   1
unique                                                  1
top     [{'DataDate': '2023-01-23T00:00:00Z', 'ValidFr...
freq                                                    1

In [ ]:
print (df)

                                               BWSurfacePressureChartList
BWSurfacePressureChart  [{'DataDate': '2023-01-23T00:00:00Z', 'ValidFr...

FileNotFoundError: [Errno 2] No such file or directory: 'weather_data_api.json'

In [ ]:
print (df)

                                               BWSurfacePressureChartList
BWSurfacePressureChart  [{'DataDate': '2023-01-23T00:00:00Z', 'ValidFr...

In [ ]:
df = pd.read_json(response1.text)

In [ ]:
print (df.head())

                                                  Locations
Location  [{'elevation': '50.0', 'id': '14', 'latitude':...

In [ ]:
if re.findall("Norwich", response1.text):
    print ("Match Found")

Match Found

In [ ]:
print (re.findall("Norwich", response1.text))

['Norwich', 'Norwich', 'Norwich', 'Norwich']

In [ ]:
df = pd.read_csv("weather.csv")
df.head()

,elevation,id,latitude,longitude,name,region,unitaryAuthArea,obsSource,nationalPark
0,50.0,14,54.9375,-2.8092,Carlisle Airport,nw,Cumbria,NaN,NaN
1,22.0,26,53.3336,-2.8500,Liverpool John Lennon Airport,nw,Merseyside,NaN,NaN
2,25.0,33,60.4322,-1.2992,Scatsta,os,Shetland Islands,NaN,NaN
3,7.0,3066,57.6494,-3.5606,Kinloss,gr,Moray,NaN,NaN
4,6.0,3068,57.7120,-3.3220,Lossiemouth,gr,Moray,LNDSYN,NaN

In [ ]:
df.isna().sum()

elevation            91
id                    0
latitude              0
longitude             0
name                  0
region                4
unitaryAuthArea      22
obsSource          5970
nationalPark       5383
dtype: int64

In [ ]:
print (df.obsSource)

0          NaN
1          NaN
2          NaN
3          NaN
4       LNDSYN
         ...
5996       NaN
5997       NaN
5998       NaN
5999       NaN
6000       NaN
Name: obsSource, Length: 6001, dtype: object

In [ ]:
df.obsSource.fillna("0")

0            0
1            0
2            0
3            0
4       LNDSYN
         ...
5996         0
5997         0
5998         0
5999         0
6000         0
Name: obsSource, Length: 6001, dtype: object

In [ ]:
df.obsSource.fillna("0")
df.isna().sum()

elevation            91
id                    0
latitude              0
longitude             0
name                  0
region                4
unitaryAuthArea      22
obsSource          5970
nationalPark       5383
dtype: int64

In [ ]:
df.groupby(["name"])["latitude"].mean()

name
A' Bhuidheanach Bheag                 56.8716
A'Chailleach (Fannaich Region)        57.6926
A'Chailleach (Monadh Liath Region)    57.1087
A'Chralaig                            57.1825
A'Ghlas-Bheinn                        57.2549
                                       ...
Yoxall                                52.7670
Ystrad Mynach                         51.6396
Ystradfellte Youth Hostel             51.8034
Ystradgynlais                         51.7791
Ystumtuen Youth Hostel                52.3926
Name: latitude, Length: 5942, dtype: float64

In [ ]:
len(df.name.unique())

5942

In [ ]:
import re

re.search("London", df.to_string())

In [ ]:
print (re.findall("London", df.to_string()))

['London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London', 'London']

In [ ]:
print (df.name.unique())

array = df.name.unique()

['Carlisle Airport' 'Liverpool John Lennon Airport' 'Scatsta' ...
 'Exmouth (Beach)' 'Almondsbury' 'Charmouth']

In [ ]:
print (array)

['Carlisle Airport' 'Liverpool John Lennon Airport' 'Scatsta' ...
 'Exmouth (Beach)' 'Almondsbury' 'Charmouth']

In [ ]:
df.region.unique()

print (df.corr())

           elevation        id  latitude  longitude
elevation   1.000000  0.077774  0.365671  -0.300652
id          0.077774  1.000000 -0.020249  -0.002053
latitude    0.365671 -0.020249  1.000000  -0.399105
longitude  -0.300652 -0.002053 -0.399105   1.000000

In [ ]:
df.groupby(["region", "name"])['elevation'].mean()

region  name
dg      Ae Mountain Bike Trail Centre    161.0
        Annan                             15.0
        Ardwell House                     22.0
        Armadale                         179.0
        Barnton                           56.0
                                         ...
yh      Wykeham                           30.0
        Yeadon                           177.0
        York                              11.0
        York Racecourse                   22.0
        York Youth Hostel                 11.0
Name: elevation, Length: 5947, dtype: float64

In [ ]:
df

,elevation,id,latitude,longitude,name,region,unitaryAuthArea,obsSource,nationalPark
0,50.0,14,54.937500,-2.809200,Carlisle Airport,nw,Cumbria,NaN,NaN
1,22.0,26,53.333600,-2.850000,Liverpool John Lennon Airport,nw,Merseyside,NaN,NaN
2,25.0,33,60.432200,-1.299200,Scatsta,os,Shetland Islands,NaN,NaN
3,7.0,3066,57.649400,-3.560600,Kinloss,gr,Moray,NaN,NaN
4,6.0,3068,57.712000,-3.322000,Lossiemouth,gr,Moray,LNDSYN,NaN
...,...,...,...,...,...,...,...,...,...
5996,167.0,355886,50.382990,-4.883520,St Dennis,sw,Cornwall,NaN,NaN
5997,108.0,355874,52.415775,-4.059387,Penglais School,wl,Ceredigion,NaN,NaN
5998,0.0,356177,50.611500,-3.406400,Exmouth (Beach),sw,NaN,NaN,NaN
5999,75.0,3930,51.551380,-2.559330,Almondsbury,sw,South Gloucestershire,NaN,NaN
6000,35.0,355998,50.738620,-2.903250,Charmouth,sw,Dorset,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6001 entries, 0 to 6000
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   elevation        5910 non-null   float64
 1   id               6001 non-null   int64
 2   latitude         6001 non-null   float64
 3   longitude        6001 non-null   float64
 4   name             6001 non-null   object
 5   region           5997 non-null   object
 6   unitaryAuthArea  5979 non-null   object
 7   obsSource        31 non-null     object
 8   nationalPark     618 non-null    object
dtypes: float64(3), int64(1), object(5)
memory usage: 422.1+ KB

In [ ]:
df = df.fillna("0")

print (df.isna().sum())

elevation          0
id                 0
latitude           0
longitude          0
name               0
region             0
unitaryAuthArea    0
obsSource          0
nationalPark       0
dtype: int64

In [ ]:
df.head()

,elevation,id,latitude,longitude,name,region,unitaryAuthArea,obsSource,nationalPark
0,50.0,14,54.9375,-2.8092,Carlisle Airport,nw,Cumbria,0,0
1,22.0,26,53.3336,-2.8500,Liverpool John Lennon Airport,nw,Merseyside,0,0
2,25.0,33,60.4322,-1.2992,Scatsta,os,Shetland Islands,0,0
3,7.0,3066,57.6494,-3.5606,Kinloss,gr,Moray,0,0
4,6.0,3068,57.7120,-3.3220,Lossiemouth,gr,Moray,LNDSYN,0

In [ ]:
df.describe()

                  id     latitude    longitude
count    6001.000000  6001.000000  6001.000000
mean   338824.234628    53.452775    -2.588946
std     64324.868346     2.148172     1.860274
min         3.000000    49.177200   -10.250000
25%    350864.000000    51.672400    -3.915100
50%    352378.000000    53.245100    -2.408100
75%    353890.000000    54.892400    -1.413800
max    400002.000000    60.749000     1.755300